.wrapper {
    height: 20vh;
    display: flex;
    background-color: lightgray;
}

.red {
    width: 70%;
    height: 20%;
    background: red;
}

.blue {
    width: 70%;
    height: 20%;
    background: blue;
    flex-shrink: 0;
}
